.container {
    background: #1a1a1a;
    padding: 2rem;
    border-radius: 5rem;
}

.header{
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

p{
    padding-top: 0rem;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}

ul{
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}